:root {
    --bg-color: #f1f1f1;
    --button-bg-color:#9fb6c3;
    --button-text-color: #333;
    --display-color: #333;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .calculator {
    background-color: #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .display {
    width: 100%;
    padding: 7px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 7px;
    background-color: var(--display-color);
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  button {
    padding: 10px;
    font-size: 20px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color:#ffc900;
  }
  .top{
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-family: monospace;
    font-size: large;
    color: white;
    background-color: 	#217b7e;
  }
  